 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif, Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://wallpapers.com/images/hd/radiator-springs-q2g1jzpqpiw9s8gd.jpg');;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
}